<%= form_with url: "/posts/#{@post.id}/comments", scope: :comment do |form| %>
  <div class="form-group">
    <%= form.text_area :text, class:"form-control", placeholder: "Type something here...", rows: 6, required: true %>
    <br />
    <%= form.submit "Comment", class:"btn btn-dark" %>
  </div>
<% end %>